nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}


footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.presentation-image-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
  }

.presentation-image {
    width: 50%;
    height: auto;
    object-fit: contain;
  }


.wide-dropdown {
    width: 300px !important; 
}

.container .row {
    margin-bottom: 0;
}

.post-snippet {
    margin-bottom: 30px;
}

.toggle-article {
    display: none;
}

.full-article {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.toggle-article:checked + label + .full-article {
    display: block;
}

.bold {
    font-weight: bold;
}

li {
    font-weight: normal;
    margin-bottom: 10px;
}

.full-article img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto; 
}

.post-snippet > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
}


